{% extends 'base.html'%}

{% load static%}
{% block content%}
    <div class="container">
        {% for blog in blogs%}

       <div class="row">
           <div class="col-lg-7 offset-lg-3"style="width: 630; height: 350;" >
                <img style="width: 630; height: 350;" src="{% static 'images/' %}{{blog.image}}" alt="" class="img-fluid">
           </div>
       </div>
       <div class="row">
            <div class="col-lg-3 offset-lg-3">
                <span style="float: left;">{{blog.tanggal}}</span>
            </div>
            <div class="col-lg-4">
               <span style="float: right;">{{blog.comment}} Comment</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>{{blog.title}}</h2>
                <p>{{blog.paragraf}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-3" style="padding-bottom: 30px;"> 
                 <a href="" >Baca selengkapnya</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}