{% extends 'base.html'%}

{% load static%}
{% block content%}

<div class=" container">
    <div class="row">
        <div class="col-lg-3 offset-lg-2">
            <img src="{% static 'images/benefit.png' %}" alt="">
        </div>
        <div class="col-lg-7">
            <h2 class="ml-auto">Learn Awesome Tech</h2>
            <p>You will learn about programming leanguage, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library,etc
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 offset-lg-2">
            <img src="{% static 'images/search-job.png' %}" alt="">
        </div>
        <div class="col-lg-7">
            <h2 class="ml-auto">Land New Job</h2>
            <p>You will learn about programming leanguage, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library,etc
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 offset-lg-2">
            <img src="{% static 'images/get-paid.png' %}" alt="">
        </div>
        <div class="col-lg-7">
            <h2 class="ml-auto">Get Paid to Learn</h2>
            <p>You will learn about programming leanguage, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library,etc
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 offset-lg-1">
            <img src="{% static 'images/mission.png' %}" alt="">
        </div>
        <div class="col-lg-7 offset-lg-1">
            <h2 class="ml-auto">Who Are We?</h2>
            <p>You will learn about programming leanguage, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library,etc
            </p><br>
            <h2 class="ml-auto">What is Our Mission</h2>
            <p>You will learn about programming leanguage, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library,etc
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <h2 style="padding-top: 60px;">What will you learn?</h2>
        <div class="row">
            <div class="col-lg-3  ">
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;"
                >
                <img src="{% static 'images/learn-html.png' %}" alt="" >
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;">
                <img src="{% static 'images/learn-programming.png' %}" alt="" >
                </div>
            </div>
            <div class="col-lg-3 " >
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;">
                <img src="{% static 'images/learn-git.png' %}" alt="" class="" style="justify-content: center;">
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;" >
                <img src="{% static 'images/learn-api.png' %}" alt="" >
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px; padding-bottom: 40px;">
            <div class="col-lg-3  ">
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;"  >
                <img src="{% static 'images/learn-react.png' %}" alt="" >
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;"  >
                <img src="{% static 'images/learn-tdd.png' %}" alt="" >
                </div>
            </div>
            <div class="col-lg-3 " >
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;"   >
                <img src="{% static 'images/learn-server.png' %}" alt=""  style="justify-content: center;">
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="img-thumbnail d-flex align-items-center justify-content-center" style="width: 200px;height: 200px;"  >
                <img src="{% static 'images/learn-scrum.png' %}" alt="" >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}