{% extends 'base.html'%}

{% load static%}
{% block content%}
    <div class="container">
       
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="font-weight: bold;">Our Mentor</h3>
            </div>
            
        </div>
        {% for mentor in mentors%}
        <div class="row" style="padding-bottom: 20px; padding-top: 30px;">
            <div class="col-lg-3 text-center">
                <img src="{% static 'images/' %}{{mentor.image}}" alt="">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <h3 style="color: grey; font-weight: bold;">{{mentor.nama}}</h3>
                <span style="font-weight: bold;">{{mentor.exp}}</span> <br>
                <span>{{mentor.quote}}</span>
            </div>
        </div>
       
        {% endfor %}
    </div>
{% endblock%}